body{
    margin-top: 0;
    background-image: url('/img/headphones.jpg');
    background-position: center;
}

.users-container {
    background-color: rgb(255, 255, 255,0.6);
    height: 400px;
    margin-top: 30px; 
    margin: 30px;
    overflow-y: scroll;
}

.users-container h2 {
    margin-left: 10px;
    color: #7A9E9A;
}
.users-container input {
    width: 150px;
}
.users i {
    pointer-events: none;
}

ul {
    list-style-type: none;
}

ul li{
    display: inline-block;
}

.edit-button {
    margin-left: 5px;
    border-radius: 5px;
}