body{
    margin-top: 0;
    background-image: url('/img/headphones.jpg');
    background-position: center;
}

.navbar {
    background-color: #fdf1e3 !important;
}

#logo {
    margin-right: 10px;
    color: #7A9E9F;

}
#logo a {
    text-decoration: none;
    color: inherit;
}

.users-container {
    background-color: rgb(255, 255, 255,0.6);
    height: 400px;
    margin-top: 30px; 
    margin: 30px;
    overflow-y: scroll;
}

.users-container h2 {
    margin-left: 10px;
    color: #7A9E9A;
}
.users-container input {
    width: 150px;
}
.users i {
    pointer-events: none;
}

ul {
    list-style-type: none;
}

ul li{
    display: inline-block;
}

.card {
    width: 250px;
    display: inline-block;
    margin: 10px;
}
.card-body {
    padding: 10px;
}
.card p {
    margin: auto 10px;
}
.card img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.edit-button {
    margin-left: 5px;
    border-radius: 5px;
}

.fa ,.fa-pencil {
    pointer-events: none;
}