.card {
    min-width: 250px;
    max-width: 250px;
    background-color: #fdf1e3;
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card-footer {
    background-color: transparent;
    border-top: none;
}

.card-img-top {
    max-height: 225px;
    min-height: 225px;
    border-radius: 50%;
}

.card-deck {
    justify-content: space-around;
    width: 85%;
    margin: auto;
}

.card .middle {
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 9px;
    height: 225px;
    width: 230px;
    opacity: 0;
    transition: .3s ease;
}

.card .middlered {
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 9px;
    height: 225px;
    width: 230px;
    transition: .3s ease;
}

.checkButton {
    background: transparent;
    border: none;
    position: relative;
    top: 33%;
    color: #999999;
}


.checkButton i {
    position: relative;
    top: 0;
    font-size: 80px;
}

.card .middle:hover, .card .middlered:hover {
    opacity: 1;
    background-color: rgb(255,255,255,0.7);
    transition: 0.5s ease;
}

.red {
    color: rgb(42, 168, 105);
}

.card h5 {
    margin: 10px;
    color: #FE5F55;
}