body {
    height: 500px;
    margin-top: 0;
    background-image: url('/img/headphones.jpg');
    background-position: center;
}

.navbar {
    background-color: #fdf1e3 !important;
}

#logo {
    margin-right: 10px;
    color: #7A9E9F;

}
#logo a {
    text-decoration: none;
    color: inherit;
}

.formContainer {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20vh;
    width: 400px;
}
@media only screen and (max-width: 600px) {
    .formContainer {
        width: 350px;
    }
}


#logInForm h2{
    text-align: center;
    color: #7A9E9F;
}
.myButton {
    color: #4F6367;
    border: none;
    background-color: #B8D8D8;
}

.myButton:hover {
    color: #B8D8D8;
    border: none;
    background-color: #7A9E9F;
}

#createAccountLink {
    color: #4F6367;
}

#login-requirements {
    margin: 5px 0 0 0;
}

#errorMessage {
    text-align: center;
    margin-top: 10px;
}