#profilePicture {
	height: 180px;
	width: 180px;

}

.container:hover #profilePicture {
	opacity: 1;
	transform: scale(1)
}

#upload-pro-pic {
	display: none;
}

#profile-header {
	display: inline;
}

#search-history {
	max-height: 400px;
	overflow-y: scroll;
	align-items: flex-start;
}

.profileContainer {
	background-color: rgba(255, 255, 255, 0.747);
	border-radius: 10px;
	margin: 5vh;
	margin-top: 3vh;
	margin-bottom: 0;
	width: 660px;
	height: 80vh;
	overflow: auto;
}

#search-history-header {
	margin-top: 10px;
}

.checkedArtistsContainer {
	background-color: rgba(255, 255, 255, 0.747);
	border-radius: 10px;
	margin: 5vh;
	margin-top: 3vh;
	margin-bottom: 0;
	width: 800px;
	height: 80vh;
	overflow: auto;
	overflow-y: scroll;
}

.checkedArtist {
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 150px;
	height: 150px;
	padding: 0;
}

.container.checkedArtist .middle {
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 50%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .3s ease;
}

.checkedArtistName {
	position: absolute;
	background-color: #B8D8D8;
	color: #4F6367;
	font-size: 14px;
	padding: 10px;
	border-radius: 30px;
	font-weight: bold;
	text-align: center;
	border: none;
	outline: none !important;
}

.profilePictureContainer {
	margin-left: 30px;
	margin-right: 0;
	margin-top: 20px;
	max-height: 200px;
}

.profileNameContainer {
	margin-top: 20px;
	z-index: 2;
}

.search-history-container {
	position: relative;

}

#username {
	display: inline;
}

.username-input {
	height: 38px;
	width: 220px;
	color: #7A9E9F;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	padding: 0px 2px;
	margin-left: 4%;

	background-color: white;
	border: none;
	outline: 3px solid #B8D8D8;
}

.username-input:focus {
	background-color: #B8D8D8;
	outline: 6px solid #B8D8D8;
	color: white;
}

.username-input::placeholder {
	color: #7A9E9F;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
}

.password-input::placeholder {
	color: black;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1;
}

.password-input {
	margin-top: 30px;
	height: 30px;
	width: 220px;
	color: black;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	padding-left: 8px;
	outline-width: 2px;
	display: none;
}

.edit-profile-button {
	background: none;
	border: none;
	outline: none;
	float: right;

	position: relative;
	top: 0%;


}


.edit-profile-button:focus {
	outline: 0;
}

.edit-profile-icon {
	background: none;
	border: none;
	outline: none;
	float: right;
	font-size: 1.7em;
	cursor: pointer;
	margin-left: 20px;
}

.button {
	background: transparent;
	border: none;
	color: black;
}

#checked .checkButton {
	padding: 1px 4px;
	background: white;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 33%;
    color: #f794a5;
}

#checked .checkButton i {
	font-size: 40px;
}

.checkButton:focus {
	outline: 0;
}

.checkButton:hover .uncheckIcon {
	display: inline;
}

.checkButton .checkIcon {
	display: inline;
}

.checkIcon {
	font-size: 5em;
}

.uncheckIcon {
	font-size: 5em;
}


.button:focus {
	outline: 0;
}

.editProPicIcon {
	font-size: 3em;
	cursor: pointer;
	color: #7A9E9F;
}

.profile-pic-middle {
	top: -6%;
	left: 60%;
	width: 10%
}

.save-button {
	display: none;
	margin-top: 20px;
	margin-left: 4%;
}

.cancel-button {
	display: none;
	margin-top: 20px;
	margin-left: 4%;
}

.save-icon {
	font-size: 2.5em;
	cursor: pointer;
}

.search-history-text {
	font-size: 12px;
	text-align: center;
	padding: 12px;
	margin: 4px;
}

.genre {
	font-size: 12px;
	text-align: center;
	width: auto;
	height: 50px;
	margin: 5px;
	display: inline-block;
}

.top-genre {
	margin-left: 20px;
	width: 94%;
	height: 80px;
	overflow-x: auto;
	display: inline-block;
	white-space: nowrap;
}

.checked {
	width: 100%;
}

.noHover {
	pointer-events: none;
}

.filter-caption {
	color: #4F6367;
	font-size: 14px;
	left: 24px;
	position: relative;
}