#profilePicture {
	height: 180px;
	width: 180px;

}

.container:hover #profilePicture {
    opacity: 1;
    transform: scale(1)
}

#upload-pro-pic {
	display: none;
}

#profile-header {
	margin-bottom: 0px;
	display: inline;
}

#search-history {
	overflow-y: scroll;

}

.profileContainer {
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;

    margin: 5vh;
    margin-top: 3vh;
    margin-bottom: 0;

    width: 660px;
    height: 470px;
    overflow: auto;
}

.checkedArtistsContainer {
	background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;

    margin: 5vh;
    margin-top: 3vh;

    margin-bottom: 0;

    width: 800px;
    height: 470px;
    overflow: auto;
    overflow-y: scroll;
}

.checkedArtist {
	margin: 10px;
	margin-bottom: 40px;
	width: 160px;
    height: 160px;
}

.checkedArtistName {

	display: block;
    background-color: #B8D8D8;
    color: #4F6367;
    font-size: 14px;
    margin-top: 0px;
    padding: 10px 22px;

    position: relative;
    top: -90px;


    border-radius: 30px;
    font-weight: bold;

    width: 160px;
    text-align: center;

    border: none;
    outline: none !important;
}

.profilePictureContainer {
	margin-left: 30px;
	margin-right: 0;
	margin-top: 20px;
	max-height: 200px;
/*	position: static;
	z-index: -1;*/
}

.profileNameContainer {
	margin-top: 20px;
	margin-left: -60px;
	height: 210px;
	width: 300px;
	position: static;
	z-index: 2;
}

.search-history-container {
	position: relative;

}

#username {
	display: inline;
}

.username-input {
	height: 38px;
	width: 220px;
	color: #7A9E9F;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	padding: 0px 2px;
	margin-left: 4%;

    background-color: white;
    border: none;
    outline: 3px solid #B8D8D8;
}

.username-input:focus {
	background-color: #B8D8D8;
	outline: 6px solid #B8D8D8;
	color: white;
}

.username-input::placeholder {
	color: #7A9E9F;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
}

.password-input::placeholder {
	color: black;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1;
}

.password-input {
	margin-top: 30px;
	height: 30px;
	width: 220px;
	color: black;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;

	padding-left: 8px;

	outline-width: 2px;
	display: none;
}

.edit-profile-button {
	background: none;
	border: none;
	outline: none;
	float: right;

	position: relative;
	top: 0%;


}


.edit-profile-button:focus {
	outline: 0;
}

.edit-profile-icon {
	background: none;
	border: none;
	outline: none;
	float: right;
	font-size: 1.7em;
	cursor: pointer;
	margin-left: 20px;
}

.button {
	background: transparent;
	border: none;
	color: black;
}


.checkButton:focus {
	outline: 0;
}

.checkButton .uncheckIcon {
	display: none;
}

.checkButton:hover .uncheckIcon {
	display: inline;
}

.checkButton .checkIcon {
	display: inline;
}

.checkIcon {
	font-size: 5em;
}

.uncheckIcon {
	font-size: 5em;
}


.button:focus {
	outline: 0;
}

.editProPicIcon {
	font-size: 3em;
	cursor: pointer;
	color: #7A9E9F;
}

.profile-pic-middle {
	top: -6%;
	left: 60%;
	width: 10%
}

.save-button {
	display: none;
	margin-top: 20px;
	margin-left: 4%;
}

.cancel-button {
	display: none;
	margin-top: 20px;
	margin-left: 4%;
}

.save-icon {
	font-size: 2.5em;
	cursor: pointer;
}

.search-history-text {
	width: 30%;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	padding: 12px 22px;
	margin: 4px;
}

.genre {
	font-size: 12px;
	text-align: center;
	width: auto;
	height: 50px;
	margin: 5px;
	display: inline-block;
}

.top-genre {
	margin-left: 20px;
	width: 94%;
	height: 80px;
	overflow-x: auto;
	display: inline-block;
	white-space: nowrap;
}

.checked {
	width: 100%;
}

.noHover{
    pointer-events: none;
}

.filter-caption {
	color: #4F6367;
    font-size: 14px;
    left: 24px;
    position: relative;
}